[Unit]
Description=Run DDNS update every 5 minutes
Requires=ddns.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
